<% if user_signed_in? %>
  <div class="recipe-header-card d-flex justify-content-between">
    <div class="recipe-title d-flex flex-column justify-content-between">
      <h1>LEFTOVERS</h1>
        <%= simple_form_for @user_ingredient do |f| %>
          <%= f.input :ingredient, label:false, placeholder: "Enter ingredient" %>
          <div class="recipe-buttons d-flex">
            <%= f.button :submit, "Add Ingredient", class: "ingredient-button" %>
            <%= link_to "Favourites", favourites_recipes_path, class: "ingredient-button" %>
          </div>
        <% end %>
    </div>

    <div class="fridge-card-container d-flex flex-column">
      <div class="fridge-card d-flex flex-column">
        <h3>YOUR FRIDGE</h3>
        <ul id="ingredientsList" class="w-50">
          <% if current_user.user_ingredients.any? %>
            <% current_user.user_ingredients.each do |user_ingredient| %>
            <div class="d-flex justify-content-between">
            <li class="fridge-ingredient"><%= user_ingredient.ingredient.name %></li>
            <%= link_to "/user_ingredients/#{user_ingredient.id}", data: {turbo_method: :delete} do %>
            <i class="fa-solid fa-x"></i>
            <% end %>
            </div>
            <% end %>
          <% else %>
            <p>IS EMPTY YAR</p>
          <% end %>
        </ul>
      </div>
      <div class="fridge-search-button">
        <%= button_to "Search Recipes", update_search_results_recipes_path, data: { turbo_method: :post } %>
      </div>
          <%=link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete, confirm: 'Are you really not hungry?' }%>

    </div>

  </div>
<% end %>

<div class="recipes-index-content">
  <div class="recipes-index-card-container">
    <% if @recipes.empty? %>
      <p>You got 99 problems but a recipe card ain't one</p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <%= render "shared/card", :recipe => recipe %>
      <% end %>
    <% end %>
  </div>
   <div class="recipes-index-filters">
    <% selected_ingredients = params[:ingredients] || [] %>
    <% selected_ingredients = selected_ingredients.map(&:to_i) %> <!-- Ensure all IDs are integers -->
    <% current_user.ingredients.each do |ingredient| %>
      <% if selected_ingredients.include?(ingredient.id) %>
        <%# ACTIVE %>
        <%= link_to ingredient.name, recipes_path(ingredients: selected_ingredients - [ingredient.id]), style: "background: blue; color: white;" %>
      <% else %>
        <%# NON ACTIVE %>
        <%= link_to ingredient.name, recipes_path(ingredients: selected_ingredients + [ingredient.id]) %>
      <% end %>
    <% end %>
    <% selected_cuisine = params[:cuisine] || "" %>
    <% @recipe_cuisines.each do |cuisine| %>
      <% if cuisine != "None" %>
        <% if cuisine == selected_cuisine %>
          <%# ACTIVE %>
          <%= link_to cuisine, recipes_path(cuisine: cuisine), style: "background: blue; color: white;" %>
      <% else %>
          <%# NON ACTIVE %>
          <%= link_to cuisine, recipes_path(cuisine: cuisine) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
