<% if user_signed_in? %>
  <div class="search-banner"></div>
  <div class="container pb-4" style="margin-top: -100px;">
    <div class="fridge-card-container">
      <h3 id="awesome-stuff-here">YOUR FRIDGE</h3>
      <ul id="ingredientsList" class="ingredients-list">
        <% if current_user.user_ingredients.any? %>
          <% current_user.user_ingredients.each do |user_ingredient| %>
            <li class="fridge-ingredient">
              <%= user_ingredient.ingredient.name.capitalize %>
              <%= link_to "/user_ingredients/#{user_ingredient.id}", data: {turbo_method: :delete}, class: "ingredient-x-btn" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </li>
          <% end %>
          <!-- Button trigger modal -->
          <div class="add-ingredient-button" data-bs-toggle="modal" data-bs-target="#newIngredient">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% else %>
          <div class="empty-state w-100">
            <p class="mb-3">You have no items in your fridge...</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark mx-auto" data-bs-toggle="modal" data-bs-target="#newIngredient">
              Add your first ingredient
            </button type="button">
          </div>
        <% end %>

        <!-- Modal -->
        <div class="modal fade" id="newIngredient" tabindex="-1" aria-labelledby="newIngredientLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="newIngredientLabel">Add new ingredient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-4">
                <%# PLACE FORM HERE %>
                <%= simple_form_for @user_ingredient do |f| %>
                  <div class="form-inputs">
                    <%= f.input :ingredient, label: false, placeholder: "Enter ingredient" %>
                  </div>
                  <div class="mt-2">
                    <%= f.button :submit, "Add Ingredient", class: "btn btn-lg btn-dark w-100" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </ul>
      <%= button_to "Search Recipes", update_search_results_recipes_path, data: { turbo_method: :post }, class: "btn btn-lg btn-dark w-100" %>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%# FILTERS %>
      <h3>Filters</h3>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Ingredients
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <% selected_ingredients = params[:ingredients] || [] %>
            <% selected_ingredients = selected_ingredients.map(&:to_i) %> <!-- Ensure all IDs are integers -->
            <% current_user.ingredients.each do |ingredient| %>
              <% if selected_ingredients.include?(ingredient.id) %>
                <%# ACTIVE %>
                <%= link_to ingredient.name.capitalize, recipes_path(ingredients: selected_ingredients - [ingredient.id]), class: "btn btn-sm btn-outline-dark w-100 mt-2", style: "background: black; color: white;" %>
              <% else %>
                <%# NON ACTIVE %>
                <%= link_to ingredient.name.capitalize, recipes_path(ingredients: selected_ingredients + [ingredient.id]), class: "btn btn-sm btn-outline-dark w-100 mt-2" %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Cuisine
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body !w-15">
              <% selected_cuisine = params[:cuisine] || "" %>
            <% @recipe_cuisines.each do |cuisine| %>
              <% if cuisine != "None" %>
                <% if cuisine == selected_cuisine %>
                  <%# ACTIVE %>
                  <%= link_to cuisine, recipes_path(cuisine: cuisine), class: "btn btn-sm btn-outline-dark w-100 mt-2", style: "background: black; color: white;" %>
              <% else %>
                  <%# NON ACTIVE %>
                  <%= link_to cuisine, recipes_path(cuisine: cuisine), class: "btn btn-sm btn-outline-dark w-100 mt-2" %>
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h3>Results</h3>
      <%# CARDS %>
      <div class="row">

        <%# LOOP THROUGH RECIPES, EACH ONE IS IT'S OWN COL-6 %>
        <% if @recipes.empty? %>
          <div class="col-12">
            <div class="empty-state">
              <p class="m-0">You got 99 problems but a recipe ain't one</p>
            </div>
          </div>
        <% else %>
          <% @recipes.each do |recipe| %>
            <div class="col-12">
              <%= render "recipes/card", :recipe => recipe %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
    <div class="recipes-index-card-container">
      <% if @recipes.empty? %>
        <p>You got 99 problems but a recipe ain't one</p>
      <% else %>
        <% @recipes.each do |recipe| %>
          <%= render "shared/card", :recipe => recipe %>
        <% end %>
      <% end %>
    </div>
  </div>
    <a href="#awesome-stuff-here" class="sticky-bottom" data-controller="scroll-to"><i class="up-arrow fa-solid fa-circle-up fa-2xl" style="color: #000000;"></i></a>
</div>
