<div class="recipe-container dflex flex-column">
  <div class="recipe-header d-flex">
    <div class="recipe-photo">
      <%= image_tag @recipe.image_url %>
    </div>
    <div class="recipe-info d-flex flex-column">
      <div class="recipe-info-title">
        <h2><%=@recipe.title%></h2>
      </div>
      <div class="recipe-info-details d-flex">
        <i class="fa-solid fa-earth-americas" style="color: #e67e22;"> : </i> <%= @recipe.cuisine %></p>
        <i class="fa-solid fa-person" style="color: #e67e22;"> : </i> <%= @recipe.servings %></p>
        <i class="fa-regular fa-clock" style="color: #e67e22"> : </i>  <%= @recipe.cook_time %> Minutes</p>
      </div>
      <%= turbo_frame_tag dom_id(@recipe, :favourite_btn), class: "recipe-card-heart" do %>
        <% favourite_for_recipe = current_user.find_favourite_for_recipe(@recipe) %>
        <% if favourite_for_recipe.nil? %>
          <%= link_to recipe_favourites_path(@recipe), data: { turbo_method: :post } do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% else %>
          <%# link to destroy the favourite %>
          <%= link_to favourite_path(favourite_for_recipe), data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex">
    <div class="recipe-details-container d-flex flex-column w-50">
      <div class="recipe-ingredient-card d-flex flex-column">
        <h3 id="Ingredients">Ingredients</h3>
        <div class="recipe-ingredients d-flex">
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.name.capitalize %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%#<div class="recipe-ingredient-card d-flex flex-column">
        <%# <h3 id="Ingredients">Shopping List</h3>
        <%#<div class="recipe-ingredients d-flex">
          <%#<ul>
            <%#<% @content.each do |ingredient| %>
              <%#= ingredient.strip.capitalize %>
            <%# end %>
          <%#</ul>
        <%#</div>
      <%#</div>%>
    </div>
    <div class="recipe-instructions d-flex flex-column">
      <h3>Instructions</h3>
        <% @recipe.method.each_with_index do |step, index| %>
        <div class="instruction-card d-flex">
        <div class="step-icon">
        <div id="numbers"><%= index + 1 %></div>
        </div>
        <%= step["step"]%>
        </div>
        <% end %>
    </div>
  </div>
</div>
