<div class="recipe-container dflex flex-column">
  <div class="recipe-header d-flex">
    <div class="recipe-photo">
      <%= image_tag @recipe.image_url %>
    </div>
    <div class="recipe-info d-flex flex-column">
      <div class="recipe-info-title">
        <h1><%=@recipe.title%></h1>
      </div>
      <div class="recipe-info-details d-flex">
        <p><strong>Cuisine:</strong> <%= @recipe.cuisine %></p>
        <p><strong>Serves:</strong> <%= @recipe.servings %></p>
        <p><strong>Total Cooktime:</strong> <%= @recipe.cook_time %></p>
      </div>
      <button class="recipe-book-button d-flex align-self-end">Add to Book</button>
    </div>
  </div>
  <div class="recipe-details-container d-flex">
    <div class="recipe-ingredient-card d-flex flex-column">
      <h3>Ingredients</h3>
      <div class="recipe-ingredients d-flex">
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="recipe-instructions d-flex flex-column">
      <h3>Instructions</h3>
      <%= sanitize @recipe.method %>
    </div>
  </div>
</div>
