<div class="recipe-container dflex flex-column">
  <div class="recipe-header d-flex">
    <div class="recipe-photo">
      <%= image_tag @recipe.image_url %>
    </div>
    <div class="recipe-info d-flex flex-column">
      <h3><%=@recipe.title%></h3>
      <div class="recipe-info-details d-flex justify-content-evenly">
        <h5> Cuisine : <%= @recipe.cuisine %> </p>
        <h5> Serves : <%= @recipe.servings %> </p>
        <h5> Total Cooktime : <%= @recipe.cook_time %> </h5>
      </div>
      <button class="recipe-book-button d-flex align-self-end"> Add to Book</button>
    </div>
  </div>
  <div class="recipe-details-container d-flex">
    <div class="recipe-ingredient-card d-flex flex-column">
      <h3>Ingredients</h3>
      <div class="recipe-ingredients d-flex">
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="recipe-instructions d-flex flex-column">
      <h3>Instructions</h3>
    </div>
  </div>
</div>
