<div class="recipes-index-card">
  <div class="recipes-index-card-content">
    <%= link_to recipe.title, recipe_path(recipe) %>
    <p class="recipes-index-card-text">
      <%= sanitize recipe.summary %>
    </p>
    <div class="recipes-index-card-info">
      <p class="recipes-index-card-servings"><%= recipe.servings %> servings</p>
      <i class="fa-solid fa-circle recipes-index-card-heart-circle"></i>
      <p class="recipes-index-card-time"><%= recipe.cook_time %> mins</p>
      <i class="fa-regular fa-heart recipes-index-card-heart"></i>
    </div>
  </div>
  <div class="recipes-index-card-image">
    <%= image_tag recipe.image_url %>
  </div>
</div>
