
  <div class="recipe-header-card d-flex justify-content-between">
    <div class="recipe-title d-flex flex-column justify-content-between">
      <h1>LEFTOVERS</h1>
        <%= simple_form_for @user_ingredient do |f| %>
          <%= f.input :ingredient, label:false, placeholder: "Enter ingredient" %>
          <div class="recipe-buttons d-flex">
            <%= f.button :submit, "Add Ingredient", class: "ingredient-button" %>
            <button>Recipe Book</button>
          </div>
        <% end %>
    </div>

  <div class="fridge-card-container d-flex flex-column">
    <div class="fridge-card d-flex flex-column">
      <h3>YOUR INGREDIENTS</h3>
      <ul id="ingredientsList">
        <% if current_user.ingredients.any? %>
          <% current_user.ingredients.each do |ingredient| %>
            <li class="fridge-ingredient"><%= ingredient.name %></li>
          <% end %>
        <% else %>
          <p>IS EMPTY YAR</p>
        <% end %>
      </ul>
    </div>
    <div class="fridge-search-button">
      <%= button_to "Search Recipes", update_search_results_recipes_path, data: { turbo_method: :post } %>
    </div>
        <%=link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete, confirm: 'Are you sure you want to log out?' }%>

  </div>

  </div>
