<!DOCTYPE html>
<html>
  <head>
    <title>Leftovers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
<
    <%= render 'shared/navbar' %>
    <%= render "shared/flashes" %>
    <%= yield %>
>>>>>>> 7803f6b1e136b2bd200015aa6f615402b52638a4
  </body>
</html>
